@import "node_modules/bootstrap/scss/bootstrap";

a {
  color: white;
  text-decoration: none;
  padding: 5px;

  &:hover {
    color: antiquewhite;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.authPage {
  a {
    color: blue;
  }

  margin-top: 2rem;

  .authPage__form {
    min-width: 70%;
    background: aliceblue;
    border-radius: 2rem;
    padding: 2rem;
  }
}

.shop__leftColumn {
  padding-top: 1rem;

  .list-group-item {
    cursor: pointer;
  }
}


.shop__rightColumn {
  padding-top: 1rem;
}


.brandBar__cart {
  padding: .5rem;
  width: auto;
  cursor: pointer;
}

.deviceList__item{
  border:1px solid rebeccapurple;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
    max-height: 200px;
  }
  .deviceList__item_rating {
    img{
      margin-left: -2px;
      margin-bottom: 5px;
      width: 1rem;
      height: 1rem;
    }
  }

}

.devicePage{


  .devicePage__header_rating{

    p{
      font-size: 10rem;
    }
  }

}